body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   background-color: #221E25;
}

a {
  color: #00B7FF;
}


/* side-bar*/

.sidecontainer{
	margin-top: 50px;
}

.row-size{
  width : 100%;
  height : 100%;
}

.list{
  margin-top: 20px;

}

a{
  color: #00B7FF;
}


.icon-size {
  font-size :25px;
}

.item-size {
  font-size: 13px;
  padding:18px;
  float:left;
  color : #ffffff;
}


/*topreleases*/

.side-offset {
  margin-left: 300px !important;
}


/*

/*albumdetail*/
.albumdetails{
  color : white;
}

.image-padd{
  margin-top: 10px;
}