<div class="row">
	<div class="row positioneditform">
		<div class="col l8">
			<h1 style="font-size: 50px;"><span class="bold">#####</span><span class="thin"> is the simplest way for anyone to organize any event</span></h1>
		</div>
		<div class="col l4">
			<form ng-submit="checkDetails()">
				<div id="login">
					<div class="login-container">
						
						<div class="row">
							<div class="input-field col l12"><i class="mdi-social-person-outline prefix"></i>
								<input id="username" type="text" name="username" required="" class="validate" ng-model='username'>
								<label for="username">Username</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col l12"><i class="mdi-action-lock-outline prefix"></i>
								<input id="password" type="password" name="password" required="" class="validate" ng-model='password'>
								<label for="password">Password</label>
							</div>
						</div>

						<div class="row">
							<div class="input field col l10 offset-l1">
								<button id="subBtn" type="submit" class="login-button btn waves-effect waves-light col l12">Login</button>
							</div>
						</div>

						<div class="row">
							<div class="input field col l5 offset-l1">
								<p class="margin left-align medium-small"><a href="">Forgot password ?</a></p>
							</div>
						</div>

					</div>
				</div>

			</form>
		</div>
	</div>
</div>