<div class="row positioneditform register-page">
	<div class=" col l2">
		<a id="register-button"><i class="mdi-navigation-chevron-right medium" id="reg-icon"></i></a>
	</div>
	<div class="col l10">
		<form ng-submit="updateDetails()">
			<div id="login">
				<div class="register-container">
					<div class="row">
						<div class="input-field col l12"><i class="mdi-social-person-outline prefix"></i>
							<input id="username" type="text" name="username" required="" class="validate" ng-model='username'>
							<label for="username">Username</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field  col l12"><i class="mdi-action-lock-outline prefix"></i>
							<input id="password" type="password" name="password" required="" class="validate" ng-model='password'>
							<label for="password">Password</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field  col l12"><i class="mdi-action-lock-outline prefix"></i>
							<input id="cnfrmPassword" type="password" name="cnfrmPassword" required="" class="validate" ng-model='cnfrmPassword' ng-blur='check_password()'>
							<label for="cnfrmPassword">Confirm Password</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field  col l12"><i class="material-icons prefix">phone</i>
							<input id="phone" type="text" name="phone" required="" class="validate" ng-model='phone'>
							<label for="phone">Mobile Number</label>
						</div>
					</div>
					<div class="row">
						<div class="input field  col l12">
							<button id="subBtn" type="submit" class="btn waves-effect waves-light col l12">Register</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>


<div>
	<div id="vendor-detail-hero" class="valign-wrapper parallax-container hero-overlay">
		<div class="parallax">
			<img src="assets/img/pic2.jpg" alt="" style="display: block; transform: translate3d(-50%, 40%, 0px);">
		</div>
		<div class="section no-pad-bot">
			<div class="container">
				<h1 class="header center white-text valign">{{data.basic.name}}</h1>
				<div class="row center">
					<h5 class="header col s12 light">
						<span class="rating" title="5 Rating">
							<i class="material-icons">grade</i>
							<i class="material-icons">grade</i>
							<i class="material-icons">grade</i>
							<i class="material-icons">grade</i>
							<i class="material-icons">grade</i>
						</span>
					</h5>
				</div>
				<div class="row center">
					<a href="" class="waves-effect btn-details tooltips" data-position="bottom" data-tooltip="Bookmark">
						<i class="material-icons">bookmark_border</i>
					</a>
					<a href="" class="waves-effect btn-details tooltips" data-position="bottom" data-tooltip="Add to favourites">
						<i class="material-icons">favorite_border</i>
					</a>
					<a href="" class="waves-effect btn-details tooltips" data-position="bottom" data-tooltip="Share">
						<i class="material-icons">share</i>
					</a>
				</div>
				<br><br>
			</div>
		</div>
	</div>

	<div id="vendor-detail">
		<div class="row">
			<div class="container">
				<div class="section no-pad-bot detail-card-overview">
					<div class="card">
						<div id="overview" class="card-content">
							<div class="row">
								<div class="col s2 m2 l3">
									<div class="detail-profile-pic">
										<img src="assets/img/profile-pic.jpg" alt="">
									</div>
								</div>
								<div class="col s8 m8 l6">
									<div class="left-info">
										<h2>{{data.basic.name}}</h2>
										<div class="detail-address">
											<p>{{data.basic.address.plot}}, {{data.basic.address.subLocality}}, {{data.basic.address.locality}}, {{data.basic.address.street}}, {{data.basic.address.city}}</p>
										</div>
										<div class="social-links">
											<div >

											</div>
											<ul>
												<li>
													<a href="#" class="tooltips" data-position="bottom" data-tooltip="Facebook">
														<img src="assets/img/social/facebook.png" alt="Facebook">
													</a>
												</li>
												<li>
													<a href="#" class="tooltips" data-position="bottom" data-tooltip="Twitter">
														<img src="assets/img/social/twitter.png" alt="Twitter">
													</a>
												</li>
												<li>
													<a href="#" class="tooltips" data-position="bottom" data-tooltip="Pinterest">
														<img src="assets/img/social/pinterest.png" alt="Pinterest">
													</a>
												</li>
												<li>
													<a href="#" class="tooltips" data-position="bottom" data-tooltip="Google Plus">
														<img src="assets/img/social/google-plus.png" alt="Google Plus">
													</a>
												</li>
												<li>
													<a href="#" class="tooltips" data-position="bottom" data-tooltip="LinkedIn">
														<img src="assets/img/social/linkedin.png" alt="Linkded In">
													</a>
												</li>

											</ul>
										</div>
									</div>
								</div>
								<div class="col s2 m2 l3">
									<div class="right-info">
										<div class="price-wrapper">
											<div class="price-starting">
												Starting From
											</div>
											<div class="price-amt">
												Rs {{data.price.value}} /-
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col s9 m9 l9">
						<div class="row">
							<div class="section no-pad-bot">
								<div class="card">
									<div id="overview" class="card-content">
										<h5 class="card-title black-text">Description
										</h5>
										<p>
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
										</p>
									</div>
									<div class="divider"></div>
									<div id="" class="card-content">
										<h5 class="card-title black-text">Venue Type
										</h5>
										<p ng-repeat="venue in venues">
											{{venue}}	
										</p>


										<h5 class="card-title black-text">Event Type
										</h5>
										<p>

										</p>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="col s3 m3 l3">
						<div class="section no-pad-bot detail-card-right">
							<div class="card">
								<div class="card-content" >
									<div>Data to add</div> 
									<div>Data to add</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>