<div class="container side-offset albumdetails">	
	<div class="row">
		<div class="col l6">
			<img class="responsive-img image-padd " src="images/Penguins.jpg">
		</div>
		<div class="col l6">
			<div class="row" >
				<h3 class="underline">{{albumDetail[0].album_name}}</h3>
			</div>
			<div class="row" >
				<h6 class="underline">Album Release Date : {{albumDetail[0].release_date}}</h6>
			</div>
			<div class="row" >
				<h6 class="underline">Album Artist : {{albumDetail[0].album_artist}}</h6>
			</div>
			<div class="row" >
				<h6 class="underline">Album Rating : {{albumDetail[0].album_rating}}</h6>
			</div>
			<div class="row">
				<a class="waves-effect waves-light btn">10$</a>
				<a class="waves-effect waves-light btn">Buy</a>
			</div>
		</div>
	</div>	
	<div class="row" ng-repeat="song in albumDetail[0].songs">
			<div class="col l4">{{song.title}}
			</div>
			<div class="col l4">{{song.rating}}
			</div>
			<div class="col l4">Play
			</div>
	</div>
</div>

					
