<div class="container side-offset topreleases ">
	<div class="row">
		<div ng-repeat="album in albums" class="col l3">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activato
						r" src="/images/Penguins.jpg">
					</div>
					<div class="card-content">
						<a ng-href="/#/Albums/{{album._id}}"><span class="card-title grey-text activator text-darken-4">{{album.album_name}}<i class="material-icons right">more_vert</i></span></a>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
						<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				</div>
		</div>
	</div>

	<div class="row center">
		<ul class="pagination pages">
		    <li class="disabled"><a ng-click="prev()"><i class="material-icons">chevron_left</i></a></li>
		    <li class="active"><a ng-href="#!">{{page}}</a></li>
		    <li class="waves-effect"><a ng-click="next()"><i class="material-icons">chevron_right</i></a></li>
	 	</ul>
	</div>

</div>			


