 <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper black">
             <a href="#" class="brand-logo">Logo</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons">shopping_cart</i></a></li>
                <li><a href="badges.html">Signup</a></li>
              </ul>
          </div>
        </nav>
  </div>
